---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';
import BlogListItem from '../components/BlogpostListItem.astro';

const posts = await getCollection('trips');
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Willkommen</h1>
      <p>
        Mit diesem kleinen Blog nehme ich euch mit auf meine Rad- und Wandertouren. Lasst euch gerne
        inspirieren.
      </p>

      <hr />
      <ul class="trips-list">
        {
          posts.map((post) => (
            <li>
              <BlogListItem
                href={`/astro-travellog/trips/${post.id}`}
                heroImgSrc={post.data.heroImage?.src || ''}
                heroImgAlt={post.data.heroImageAlt || ''}
                title={post.data.title}
                date={post.data.pubDate?.toLocaleDateString() || ''}
                distance={post.data.distance || ''}
                description={post.data.description || ''}
              />
            </li>
          ))
        }
      </ul>
      <Footer />
    </main>
  </body>
</html>
