---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import BlogListItem from '../../components/BlogpostListItem.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const cyclingTrips = await getCollection('trips', ({ data }) => {
  return data.category === 'cycling';
});
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Cycling Trips</h1>

      <ul class="trips-list">
        {
          cyclingTrips.map((trip) => (
            <BlogListItem
              href={`/astro-travellog/trips/${trip.id}`}
              heroImgSrc={trip.data.heroImage?.src || ''}
              heroImgAlt={trip.data.heroImageAlt || ''}
              title={trip.data.title}
              date={trip.data.pubDate?.toLocaleDateString() || ''}
              distance={trip.data.distance || ''}
              description={trip.data.description || ''}
            />
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
